.btn-white {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.btn-orange-18 {
  background-color: #fd6038;
  padding: 15px 35px;
}

.btn-black {
  color: #0e1412;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.header-button {
  width: 242px;
  height: 60px;
  background-color: #fd6038;
  margin-top: 38px;
}

.get-the-guidance button {
  padding: 15px 35px;
  color: #fff;
  background-color: #fd6038;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.set-relative {
  position: relative;
}

.btn-our-practice-areas {
  position: absolute;
  left: 50%; 
  bottom: 25px;
  transform: translateX(-50%);
}

.set-relative-btn-orange {
  color: #fff;
  background-color: #fd6038;
  width: 330px;
  height: 72px;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.set-relative-btn-white {
  color: #0E1412;
  background-color: #fff;
  width: 330px;
  height: 72px;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.our-practice-areas .container > button {
  color: #fff;
  background-color: #fd6038;
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 55px;
}

.meet-with-lawyers-block button {
  position: absolute;
  left: 50%; 
  bottom: 110px;
  transform: translateX(-50%);
}

.meet-with-lawyers .container > button {
  margin-top: 55px
}

.latest-story-head button {
  position: absolute;
  right: 0;
}