// Dealing With a Issue?
.dealing-issue {
  margin-top: 150px;
  height: 494px;
  background-color: #017848;
  text-align: center;
}

.dealing-issue * {
  color: #fff !important;
}

.dealing-issue button {
  margin-top: 38px;
}

.dealing-issue-head {
  padding-top: 100px;
}