<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-2 col-lg-3 col-md-6 col-sm-12">
        <h4>Justice</h4>
        <ul>
          <li><a href="#!">Privacy</a></li>
          <li><a href="#!">Terms & Conditions</a></li>
          <li><a href="#!">Cookie Preferences</a></li>
        </ul>
      </div>

      <div class="col-2 col-lg-3 col-md-6 col-sm-12">
        <h4>Pages</h4>
        <ul>
          <li><a href="#!">Home</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Practice Areas</a></li>
          <li><a href="#!">Attorneys</a></li>
        </ul>
      </div>

      <div class="col-3 col-lg-4 col-md-8 col-sm-12">
        <h4>Justice</h4>
        <p>50 Harrison Street, PH Suite 445 Hoboken, NJ 07030</p>
        <p>(000) 123-4567</p>
        <p>yourlawfirm22@gmail.com</p>
      </div>

      <div class="col-5 col-lg-6 col-md-8 col-sm-12 set-relative">
        <img src="./img/image 860.png" />
        <button>View Large Map</button>
      </div>
    </div>
  </div>
  <div class="footer-end">
    <div class="container">
      <div class="row row-cols-sm-1">
        <div class="col">
          <div class="footer-end-left">
            <div>
              <img src="./img/Vector.png" alt="" />
              <img src="./img/Justice Law Firm.png" alt="" />
            </div>
            <p>Copyright © 2022 UI HUT All Rights Reserved</p>
          </div>
        </div>

        <div class="col">
          <div class="footer-end-right">
            <img src="./icons/Social.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
