<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="wrapper">
      <%- include("./partials/header.ejs") %>
      <main>
        <!-- Our Regular Blog -->
        <div class="our-regular-blog">
          <div class="container">
            <div class="our-regular-blog-head">
                <h1>Our Regular Blog</h1>
                <p>
                  With our experience we are ready to help you create a modern
                  property with an easy step.
                </p>
              </div>

            <div class="row gx-3 row-cols-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
              <div class="col-3">
                <img src="./img/Rectangle 4514.png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>
              
              <div class="col-3">
                <img src="./img/Rectangle 4514 (1).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (2).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (3).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (4).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (5).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (6).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (7).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (8).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (9).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (10).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (11).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (12).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (13).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (14).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>

              <div class="col-3">
                <img src="./img/Rectangle 4514 (15).png" alt="" />
                <p>Top 20 Effective Digital Marketing Tools to Help</p>
                <p>July 27, 2021</p>
              </div>
            </div>
            <div><button class="btn-white btn-orange-18">Load More</button></div>
          </div>
        
        </div>
      </main>
      <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
